.footer {
  text-align: center;
  padding: 30px 10px;
  border-top: 1px solid #222;
  color: #aaa;
  direction:ltr;
}

.footer a {
  color: #ffb347;
  text-decoration: none;
}


.header {
    position: fixed;
    top: 0;
    width:90%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:20px;
    border-bottom: 1px solid #ffffff27;
    background-color: #0000002d;
    padding: 20px 0;
}

.header a {
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    color: #ff9900

}

.header a:hover {
  color: #d0d0d0;
  transform: scale(1.05);
  text-decoration: underline;
  text-underline-offset: 4px;
}

#logo-img {
    display: block;
    pointer-events: none;
    width: 40px;
    height: 40px;
}
