.footer {
  text-align: center;
  padding: 30px 10px;
  border-top: 1px solid #222;
  color: #aaa;
  direction:ltr;
}

.footer a {
  color: #ffb347;
  text-decoration: none;
}


.header {
    position: fixed;
    top: 0;
    width:100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:20px;
    background-color: #00000004;
    padding: 20px 0;
}

.header a {
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    color: #d0d0d0;
    text-underline-offset: 8px;
}

.header a:hover {
  color: #ff9900;
  transform: scale(1.05);
  text-decoration: underline;
}

#logo-img {
    display: block;
    pointer-events: none;
    width: 40px;
    height: 40px;
}
