.footer {
  text-align: center;
  padding: 30px 10px;
  border-top: 1px solid #5e5d5d;
  direction:ltr;
  display:flex;
  flex-direction:column;
  gap:20px;
}

.footer a {
  color: var(--link-color);
  text-decoration: none;
  font-size:15px;
}

.header {
    position: fixed;
    top: 0;
    width:100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:20px;
    background-color: #00000004;
    padding: 20px 0;
}

.header a {
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    color: var(--text-color);
    text-underline-offset: 8px;
}

.header a:hover {
  color: var(--link-hover-color);
  transform: scale(1.05);
  text-decoration: underline;
}

#logo-img {
    display: block;
    pointer-events: none;
    width: 40px;
    height: 40px;
}



.links {
  display:flex;
  align-items:center;
  justify-content:center;
  padding-top:10px;
  padding-bottom:6px;
}

.links a {
  text-decoration:none;
  text-underline-offset:10px;
  color:var(--link-color);
  cursor:pointer;
  font-size:15px;
}

.links a:hover {
  color:var(--link-hover-color);
  text-decoration:underline;
}











