@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root {
  --bg-color: #3F4F44;        /* خلفية: أغمق لون هادي يعطي عمق وراحة للعين */
  --text-color: #DCD7C9;      /* نصوص: فاتح وواضح على الخلفية الغامقة */
  --accent-color: #A27B5C;    /* لمسات: ألوان دافئة وراقية للـ hover أو buttons */
  --card-bg: #2C3930;         /* كروت: أغمق شوي من الخلفية لكن متناسق */
  --card-hover: #A27B5C;      /* لون الهفر للكروت نفس الـ accent */
  --card-text-hover: #3F4F44; /* لون النص وقت الهفر متباين مع الكارد */
}

* {
  padding:0;margin:0;box-sizing: border-box;
}


body,html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  font-family: "Rubik", Arial;
  direction: rtl;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}
