@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root {
  --bg-color: #0b0b0b;
  --text-color: #f3f3f3;
  --accent-color: #ffb347;
  --card-bg: #1a1a1a;
  --card-hover: #ffb347;
  --card-text-hover: #000;
}

* {
  padding:0;margin:0;box-sizing: border-box;
}


body,html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  font-family: "Rubik", Arial;
  direction: rtl;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}
