@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



:root {
  --bg-color: #2f4f32;
  --text-color: #000000;
  --accent-color: #2f4f32;
  --card-bg: #ffffff;
  --card-hover: #2f4f32;
  --card-text-hover: #ffffff;

  --h1-color: #2f4f32;
  --h2-color: #27602a;
  --h3-color: #1f4b21;

  --link-color: #2f4f32;
  --link-hover-color: #ffffff;

  --button-bg: #2f4f32;
  --button-text: #ffffff;
  --button-hover-bg: #27602a;
  --button-hover-text: #ffffff;

  --input-bg: #ffffff;
  --input-text: #000000;
  --input-border: #2f4f32;
  --input-focus-border: #27602a;

  --border-color: #27602a;
  --shadow-color: rgba(0,0,0,0.3);
}



* {
  padding:0;margin:0;box-sizing: border-box;
}


body,html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  font-family: "Rubik", Arial;
  direction: rtl;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}
