@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root {
  --bg-color: #1e1e1e;        /* خلفية داكنة هادية */
  --text-color: #f5f5f5;      /* نصوص واضحة على الخلفية الداكنة */
  --accent-color: #b35e2e;    /* لمسة دافئة وراقية للأزرار والـ hover */
  --card-bg: #2c2c2c;         /* كروت داكنة شوي لكن متباينة عن الخلفية */
  --card-hover: #b35e2e;      /* لون الكارد وقت الهفر */
  --card-text-hover: #ffffff; /* نص الكارد وقت الهفر */
}

* {
  padding:0;margin:0;box-sizing: border-box;
}


body,html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  font-family: "Rubik", Arial;
  direction: rtl;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}
