@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root {
  --bg-color: #FAF7F0;        /* الخلفية ممتازة كما هي */
  --text-color: #4A4947;      /* نصوص داكنة وواضحة */
  --accent-color: #B17457;    /* لمسات دافئة للأزرار والـ hover */
  --card-bg: #D8D2C2;         /* كروت فاتحة متناسقة مع الخلفية */
  --card-hover: #B17457;      /* لون الكارد وقت الهفر */
  --card-text-hover: #4A4947; /* نص الكارد وقت الهفر */
}

* {
  padding:0;margin:0;box-sizing: border-box;
}


body,html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  font-family: "Rubik", Arial;
  direction: rtl;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}
