@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root {
  --bg-color: #e9e6df;
  --text-color: #1f1f1f;
  --accent-color: #b0845c;
  --card-bg: #f7f6f3;
  --card-hover: #d9cbb8;
  --card-text-hover: #1f1f1f;
}

* {
  padding:0;margin:0;box-sizing: border-box;
}


body,html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  font-family: "Rubik", Arial;
  direction: rtl;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}
