.hero {
  height: 90vh;
  background: url("https://pub-62c7562398154a439829645cb8dca3d2.r2.dev/IMG_2293.jpeg") center/cover no-repeat;
  position: relative;
}

.overlay {
  background: rgba(0, 0, 0, 0.65);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.overlay h1 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height:1.8;
}

.overlay h1 span {
  color: var(--h2-color);
  text-transform:uppercase;
}

.overlay p {
  font-size: 1.2rem;
  margin-top: 10px;
  color: var(--text-color);
}

.cta button {
  margin-top: 25px;
  padding: 14px 34px;
  font-size: 1rem;
  background: var(--button-bg);
  color: var(--button-text);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.cta button:hover {
  background: var(--button-hover-bg);
  transform: scale(1.05);
}

.section {
  padding: 60px 20px;
  text-align: center;
}

.services {
  composes: section;
  line-height:1.8;
}

.services h2,
.whyme h2,
.templates h2,
.contact h2 {
  font-size: 2rem;
  padding-bottom: 25px;
  color: var(--h2-color);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.grid div {
  background: #262626;
  padding: 20px;
  border-radius: 10px;
  width: 280px;
  transition: 0.3s;
}

.grid div:hover {
  transform: translateY(-5px);
  background: #838383;
}

.whyme {
  composes: section;
}

.whyme ul {
  list-style: none;
  padding: 0;
  max-width: 500px;
  margin: 0 auto;
}

.whyme li {
  margin: 10px 0;
  font-size: 1.1rem;
  color: var(--text-color);
}

.templates {
  composes: section;
}

.templatesGrid {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.templateCard {
  background: #1a1a1a;
  color: var(--text-color);
  padding: 25px 40px;
  border-radius: 8px;
  font-weight: 600;
  transition: 0.3s;
  text-decoration: none;
}

.templateCard:hover {
  background: var(--card-hover);
  color: var(--card-text-hover);
}

.contact {
  composes: section;
}

.contactBtn {
  display: inline-block;
  background: var(--button-bg);
  color: var(--button-text);
  padding: 12px 30px;
  border-radius: 6px;
  text-decoration: none;
  margin-top: 15px;
  font-weight: bold;
}






