.container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container h1 {
  font-size: 6rem;
  padding-bottom: 10px;
  color:#ffb347;
}

.container a {
  margin-top: 20px;
  color: #fff;
  text-decoration: underline;
  text-underline-offset:10px;
}

.container a, .container p {
  font-size:20px;
}


.container a:hover {
  color: #ff9900;
  transform: scale(1.05);
}
