.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Intro */
.intro {
  text-align: center;
  padding: 80px 20px;
}

.intro p:first-child {
  font-size: 2rem;
  font-weight: 700;
  color: var(--accent-color);
  margin-bottom: 15px;
}

.intro p:last-child {
  font-size: 1.5rem;
  color: #bbb;
}

.templates {
  padding: 80px 20px;
  text-align: center;
}

.templates h2 {
  font-size: 2rem;
  color: var(--h2-color);
  margin-bottom: 50px;
}

.templatesGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.templateCard {
  background: var(--card-bg);
  color: var(--text-color);
  border-radius: 10px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%; 
}

.templateImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

.templateTitle {
  font-size: 1.1rem;
  text-align: center;
  padding:20px;
}

.subscriptions {
  padding: 80px 20px;
  text-align: center;
  width:90%;
  margin:0 auto;
}

.subscriptions h2 {
  font-size: 2rem;
  color: var(--h2-color);
  margin-bottom: 40px;
}


.subScroll {
  display: flex;
  gap: 25px;
  overflow-x: auto;
  padding-bottom: 10px;
  scroll-snap-type: x mandatory;
  scrollbar-width:none;
  -webkit-overflow-scrolling: touch;
  width:100%;
}

.subScroll::-webkit-scrollbar {
display:none;
}

.subScroll::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}

.subCard {
  min-width: 300px;
  max-width: 350px;
  min-height:500px;
  background: var(--card-bg);
  padding: 25px;
  border-radius: 12px;
  transition: 0.3s;
  scroll-snap-align: start;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subCard h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: var(--h2-color);
}

.price {
  font-weight: 700;
  margin-bottom: 15px;
  color: var(--text-color);
}

.features {
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
  line-height: 1.8;
}

.subLink {
  margin-top: auto;
  text-decoration: none;
  font-weight: 600;
  padding: 10px 0;
  display: block;
  text-align: center;
  background: var(--card-hover);
  color: var(--card-text-hover);
  border-radius: 8px;
  transition: 0.2s;
}

.subLink:hover {
  opacity: 0.8;
}

/* How it works */
.howItWorks {
  padding: 80px 20px;
  text-align: center;
}

.howItWorks h2 {
  font-size: 2rem;
  color: var(--h2-color);
  margin-bottom: 40px;
}

.howItWorks ol {
  list-style: decimal inside;
  max-width: 700px;
  margin: 0 auto;
  padding: 0;
  color: #ccc;
  line-height: 2;
}

.howItWorks li {
  margin-bottom: 15px;
}
