.container {
  padding: 60px 20px;
  line-height: 1.8;
  direction: rtl;
}

.inner {
  max-width: 900px;
  margin: 0 auto;
}

.title {
  color: var(--h1-color);
  font-size: 28px;
  margin-bottom: 30px;
  padding-top:30px;text-align:center;
}

.sectionTitle {
  color: var(--h2-color);
  margin-top: 20px;
  font-size:18px;
}

.lastUpdate {
  margin-top: 50px;
  font-size: 15px;
  opacity: 0.7;
}